
<!--  <button mat-raised-button (click)="openDialog()">Open Dialog-->
<!--  </button>-->

<!--  <button class="btn btn-primary" (click)="openModal()">Open Modal</button>-->

<!--  <cdk-virtual-scroll-viewport itemSize="100" class="container">-->
<!--    <div *cdkVirtualFor="let number of numbers" class="number">-->
<!--      {{number}}-->
<!--    </div>-->
<!--  </cdk-virtual-scroll-viewport>-->

<a routerLink="/login" routerLinkActive="active">Login</a>
<a routerLink="/about" routerLinkActive="active">About</a>

<router-outlet></router-outlet>
